{% extends "blogs/base.html" %}

{% block content %}

 <p>Посты блога</p>

 <ul>
   {% for post in posts %}
     <li>
	<h4>{{ post.date_added|date:'M d,Y H:i' }}</h4>
	<h4>{{ post.title }}</h4>
	<p>{{ post.text|linebreaks }}</p>
	<p>
	 <a href="{% url 'blogs:edit_post' post.id %}">Редактировать пост</a> - 
	 <a href="{% url 'blogs:delete' post.id %}">Удалить пост</a>
	</p>
     </li>
   {% empty %}
     <li>Постов еще нет :(</li>
   {% endfor %}
 </ul>
 <a href="{% url 'blogs:new_post' %}">Добавить новый пост</a>

{% endblock content %}